// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

// Nav Bar
.nav.navbar-nav.navbar-right{
  display: flex;
}

.logged-in {
  align-self: center;
}

.divider_logged_in {
  align-self: center;
  padding-left: 1em;
}

.divider_logged_out {
  align-self: center;
}